*{
 margin: 0;
 padding: 0;
 font-family: 'Times New Roman', Times, serif; 
 box-sizing: border-box; 
}
.container{
 width: auto;
 min-height: 100vh;
 background:linear-gradient(135deg,#ffdfb9,#4ec9d2);
 padding: 16px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.managementApp{
    width: 100%;
    margin: 100px auto 20px;
    max-width: 640px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.managementApp h1{
    color: #04b6c2;
    text-align: center;
    margin-bottom: 20px;
}
.addNewStudent{
    width: 100%;
    margin: 100px auto 20px;
    max-width: 640px;
    background-color: #7fc2d1;
    padding: 20px;
    border-radius: 10px;
}
.addNewStudent h2{
    margin-bottom: 13px;
}
.name{
    width: 70%;
    max-width: 300px;
    border: none;
    outline: none;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    vertical-align: middle;   
    line-height: normal;  
}
input[type=number]{
    width: 30%;
    max-width: 70px;
    border: none;
    outline: none;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    vertical-align: middle;   
    line-height: normal;  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.grade{
    width: 30%;
    max-width: 70px;
    border: none;
    outline: none;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    vertical-align: middle;   
    line-height: normal;  
}

.name:placeholder-shown,
input[type=number]:placeholder-shown,
.grade:placeholder-shown{
    padding: 5px;
    font-size: 15px;
}
.addBtn{
    width: auto;
    min-width: 80px;
    outline: none;
    height: 25px;
    border: none;
    background-color: #78fad1;
    font-weight: 900;
    border-radius: 5px;
}
.addBtn:hover{
    background-color: #03f4a8;
}
.emptyMsg {
  color: gray;
  font-style: italic;
  text-align: center;
}
.listHeading{
    margin: 13px;
    
}
.studentList{
    margin-top: 15px;
}
.studentCard {
  position: relative;
  background: #f9f9f9;
  padding: 10px 15px;
  margin: 12px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.studentCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  width: 8px;
  height: 100%;
  background: linear-gradient(to bottom, #ff6ec7, #00c9a7);
  border-radius: 3px;
  
}
.studentCard p {
  margin: 6px 0;
  font-size: large;
}

@media (max-width: 600px) {
  .managementApp, .addNewStudent {
    padding: 15px;
    margin: 20px auto;
    width: 95%;
  }
  .name{
    width: 100%;  
    margin-bottom: 10px; 
    font-size: 16px; 
  }
  input[type=number], 
  .grade
  {
    flex: 1;
    width: 50%;  
    margin-bottom: 10px; 
    font-size: 16px; 
  }

  .studentCard p {
    font-size: 16px; 
  }
  .addBtn{
    width: 100%;
    font-size: 16px;
  }
  .managementApp h1 {
    font-size: 22px;
  }

  .addNewStudent h2 {
    font-size: 18px;
  }
}



